{% extends "base.html" %}


{% block app_content %}
    <style>
        .wine-container {
        height:50%;
        font-family:Parisienne;
        font-size:100px;
        text-align:center;
        text-weight:bold;
        }

        .image {
        display:inline-block;
        width:45%;
        margin:2.5%;
        border-radius:10px;
        }
        </style>
    <link href='https://fonts.googleapis.com/css?family=Parisienne' rel='stylesheet' type='text/css'>

<div class="wine-container">{{ grape_name }}</div>
<form style="font-size:0px;" method="POST">
    <input type="image" name="{{ left_is_positive }}" src="/static/vineyards/{{ left_vineyard }}.png" class="image">
    <input type="image" name="{{ right_is_positive }}" src="/static/vineyards/{{ right_vineyard }}.png" class="image">
</form>



{% endblock %}
